/* .logo {
    width: 60px;
    margin-right: 10px;
}

.navbar {
    background-color: rgb(6, 23, 53);
}

.navbar-brand,
.nav-link {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(6, 23, 53);
    border-radius: 40px;
    margin-right: 25px;
}

.navbar-brand:hover {
    color: red;
}

.nav-link:hover {
    border: 2px solid white;
    background-color: white;
    border-radius: 40px;
    color: rgb(101, 5, 5);
    font-weight: 500;
} */