.logo {
    width: 60px;
    margin-right: 10px;
}

.navbar {
    background-color: rgb(6, 23, 53);
}

.navbar-brand,
.nav-link {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(6, 23, 53);
    border-radius: 40px;
    margin-right: 25px;
}

.navbar-brand:hover {
    color: white;
}

.nav-link:hover {
    color: white;
    font-weight: 400;
}